body {

  font-size: 1em;
  line-height: 1.5;

}

h1, h2, p {

  color: #333;

}

h1 {

  font-weight: 300;

}

h2 {

  font-weight: 300;

}

.no-wrap {

  white-space: nowrap;

}

.icon-link {

  display: inline-block;
  height: 1.5em;

}

.icon-link img {

  display: block;
  height: 100%;

}

#external-links {

  padding: 1em;
  
}

#link--github {

}

#link--npm {

  float: right;
  height: 1.25em;

}

article {

  max-width: 800px;
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;

}

section {

  margin: 6em 0;

}

.example {

  margin: 2em 0 1em;

}

.example.w1 {

  max-width: 300px;

}

.example.w15 {

  max-width: 450px;

}

.example.w2 {

  max-width: 600px;

}

.example.mt1 {

  margin-top: 3em;

}

.example.mb2 {

  margin-bottom: 3em;

}

.code .toggle {

  display: block;
  float: right;
  margin-bottom: 1em;
  border: none;
  height: 32px;
  width: 40px;
  padding: 0;
  background: #f8f9fa;
  border-radius: 5px;
  text-align: center;

}

.code .toggle img {

  display: block;
  width: 20px;
  height: 20px;
  margin: auto;

}

.code pre {

  clear: both;
  display: none;
  border-radius: 5px;

}

.code pre.show {

  display: block;

}

footer {

  padding: 2em 0;

}

.copyright {

  margin: 2em 0;

}
